<h3>Usuarios Registrados</h3>
<br>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Primer Nombre</th>
      <th scope="col">Segundo Nombre</th>
      <th scope="col">Primer Apellido</th>
      <th scope="col">Segundo Apellido</th>
      <th scope="col">Teléfono</th>
      <th scope="col">Dirección</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{user.firstName}}</th>
      <td>{{user.secondName}}</td>
      <td>{{user.firstSurname}}</td>
      <td>{{user.secondSurname}}</td>
      <td>{{user.phone}}</td>
      <td>{{user.address}}</td>
    </tr>
  </tbody>
</table>